.box{
    text-align: center;
    width: 50%;
    color: beige;
    height: 886px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.box2{
    text-align: center;
    width: 50%;
    color:#3779a8 ;
    height: 963px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.parent{
    display: flex;
    background-color: #3779a8;
    height: 886px;
}
.parent2{
    display: flex;
    background-color: beige;
    height: 963px;
}
.parent3{
    display: flex;
    background-color: #3779a8;
    height: 963px;
}
body{
    margin: 0;
    margin-top: 67px;
    font-family: Damion, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.button{
    text-decoration:none;
    color: #ffffff;
    background-color: #4E6E5D;
    padding: 10px 20px;
    margin: 10px;
     border-radius: 5px;
     display: inline-block;
     box-shadow: #ffffff;
     box-shadow: 0 0 3px 3px;
     transition: 0.7s;
     cursor: pointer;
     font-family: teko, sans-serif;
}
.button:hover{
    color: #4E6E5D;
    background-color: #ffffff;
}
.header{
    height: 50px;
    padding-bottom: 10px;
    padding-top: 7px;
     background-color:  #442F38;
     position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.hello{
    border-radius: 1000px;
    width: 400px;
    height: 200px;
    box-shadow: black 0 0 5px 7px;
}
.ball{
    border-radius: 1000px;
    width: 600px;
    height: 600px;
   
}
.sball{
    border-radius: 1000px;
    width: 500px;
    height: 500px;
    position: absolute;
    box-shadow: #1c91e5 0 0 71px 7px;

}

.t100{
    top: 360px;
    left: 30px;
}
.t200{
    top: 420px;
    left: 30px;
}
.t300{
    top: 480px;
    left: 30px;
}
.t400{
    top: 540px;
    left: 30px;
}
.t500{
    top: 600px;
    left: 30px;
}
.absolute{
    position: absolute;
}
.picture{
    height:400px ;
    width:400px ;
}
.backpicture{
    height:480px ;
    width:480px ;

}
.deg10{
    rotate: 10deg;
}
#MAIN {
    scroll-margin-top: 67px;
}
.light{
    position: absolute;
    top: 1160px;
    left: 1200px;
    height: 480px;
    width: 480px;
    box-shadow: black 45px 45px 45300px 20px;
}
.flash{
    position: absolute;
    cursor: pointer;
    animation: runaway 30s ease-in-out 10s infinite normal none;
}


@keyframes runaway {
    0% {
      left: 368px;
    }
   
    40% {
      left:1800px;
    }
    80% {
      left: 0;
    }
    100%{
        left: 368px;   
  }
}
